<section class="header">
  <h1 class="logo">Voting Application</h1>
  <ul class="nav">
    <li>
      <a routerLink="list-candidate">List Candidate</a>
    </li>
    <li><a routerLink="list-position">List Positions</a></li>
    <li><a routerLink="country">Country Polling</a></li>
    <li><a routerLink="country/result">Country Polling Result</a></li>
    <li><a routerLink="country/cityA">CityA Polling</a></li>
    <li><a routerLink="country/cityA/result">CityA Result</a></li>
    <li><a routerLink="country/cityB">CityB Polling</a></li>
    <li><a routerLink="country/cityB/result">CityB Result</a></li>
    <li><a routerLink="country/cityC">CityC Polling</a></li>
    <li><a routerLink="country/cityC/result">CityC Result</a></li>
  </ul>
</section>

<section class="mt body">
  <router-outlet></router-outlet>
</section>

<section class="footer">
  <div class="footer-line">
    <p
      style="
        color: white;
        margin-top: 18px;
        font-size: large;
        text-align: center;
      "
    >
      © Voting App
    </p>
  </div>
</section>
